body {
  padding: 2rem;
}

#lista-de-tarefas {
  /*mobile first*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;

  /* nesting css */
  /*
    @media (min-width: 500px){
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px){
        grid-template-columns: repeat(3, 1fr);
    }
    */
}

#title {
  display: flex;
  flex-direction: row;

  h1 {
    margin-top: 8px;
  }

  a {
    margin-left: auto;
    margin-bottom: 20px;
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
  gap: 2rem;
}

.acoes {
  display: flex;
  justify-content: space-around;
}

.icon-title {
  margin-right: 20px;
  width: auto;
  height: 50px;
}
